<template name="editProfile">
    <div class="container">
        {{>home}}


        {{#each myProfile}}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Use
                    this
                    page
                    to
                    edit
                    your
                    personal
                    profile.
                </div>

                <div class="panel-body">

                    Information you enter here will be visible to other users of I-NEEDA.<br>

                    Fields marked with a * are required. All other information is optional but completing it will be
                    helpful in connecting with the right people.<br>

                    Select from the list in the dropdown box the service you are offering. Then write a few words
                    regarding your experience in providing this service and record the fee, if any, that you propose to
                    charge. It's also helpful to provide a few words about yourself in the About Me box.

                    You can also use this page to upload a 'head and shoulders' profile picture of yourself which will
                    be visible to other users of the system.

                    If you are simply proposing to use I-NEEDA to find someone to provide a service its only neccessary
                    to <a href="/map">enter your location.</a>
                </div>
            </div>

            <br>

            <div class="panel-primary">
                <div class="panel-body">
                    <form class="">
                        <div class="row">
                            <div class="col-md-2">
                                {{#each avatar}}
                                    <img src="{{this.url store="avatars"}}" alt="" class="img-responsive circle-image"/>
                                {{/each}}
                            </div>
                            <div class="col-md-4">
                                <p>Profile Title*: <input type="text" class="form-control" name="ProfileTitle"
                                                          value={{ProfileTitle}}>
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-1">
                                <p>Gender*:
                                    <select name="gender">
                                        {{>genders}}
                                    </select>
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-1 col-xs-3">
                                Age: <input type="text" name="age" class="form-control" value={{age}}>
                            </div>
                        </div>
                        Upload a profile image
                                <span class="bt btn-default btn-file">
                                        <input type="file" class="file fileInput"/>
                                </span>

                        <br>
                        <!--<p>Gender: <input type="text" class="form-control" name="gender" value={{gender}}></p>-->
                        <div class="row">
                            <form action="../map">
                                <div class="col-md-1">
                                    <button class="btn btn-success" type="submit">Map Your Location*:</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-6"><input type="text" class="form-control" name="location"
                                                             value={{location}}></div>
                                <br>
                            </form>

                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-2"><p>Service Offered*:
                                <select name="service">
                                    {{>services}}
                                </select>
                            </p></div>
                        </div>


                        <!--TODO                  Service Range (miles)*:<input type="number" class="form-control" name="distance"
                                                     value={{distance}}>-->
                        <br>


                        <div class="row">
                            <div class="col-md-5">
                                <div class="panel-primary">
                                    <div class="panel-heading"><h3 class="panel-title">About Me</h3>
                                    </div>
                                    <div class="panel-body"><textarea rows="3" class="form-control" name="aboutMe"
                                                                      value={{aboutMe}}></textarea></div>
                                </div>
                            </div>


                            <div class="col-md-5">
                                <div class="panel-primary">
                                    <div class="panel-heading"><h3 class="panel-title">Experience as
                                        a {{serviceName}}</h3>
                                    </div>
                                    <div class="panel-body"> <textarea rows="3" class="form-control"
                                                                       name="experience"
                                                                       value={{experience}}></textarea></div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="panel-primary">
                                    <div class="panel-heading"><h3 class="panel-title">Fees or voluntary? </h3>
                                    </div>
                                    <div class="panel-body"><textarea rows="3" class="form-control" name="fees"
                                                                      value={{fees}}></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><input type="submit" value="Save Your Profile" class="btn btn-success"></p>
                    </form>
                </div>


            </div>


            <footer>Profile last updated on {{lastUpdate}}</footer>
        {{/each}}

    </div>
</template>