<template name="favourites">
    {{>home}}
    <div class="container">
    <h3>My favourites/My Recommendations</h3>

    {{>nyi}}

    Make recommendations here that will appear on the service provider's profile page as 'Recommended By
    /{/{-username-/}/} ****'

    <p>Not sure about the best way to implement  a recommendations system as they are open to abuse in other apps. But having a
        recommendation of a service provider will be a key factor when making a choice about who to contact.</p>

    </div>
</template>