<template name="home">
<nav class="nav navbar navbar-default">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  	{{#if currentUser}} 
    <h5 class="navbar-text navbar-left">Signed in as <a href="#" class="navbar-link">{{> user}}</a></h5>
    {{else}}
    <h5>You are not logged in. Not everything will work</h5>
    <p class="navbar-text navbar-lext">Sign in <a href="/login" class="navbar-link"></a></p>
  	{{/if}}
    <br>
      </div>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="nav navbar-nav navbar-left">
          <li class="active "><a class="glyphicon glyphicon-search" href="/search"> Search <span class="sr-only"></span></a></li>
           <li class="active"><a class="glyphicon glyphicon-envelope" href="/messages"> Messages <span class="sr-only"></span></a></li>
           <!--<li class="active "><a class="glyphicon glyphicon-leaf" href="/results"> Profiles <span class="sr-only"></span></a></li>-->
           <li class="active "><a class="glyphicon glyphicon-user" href="/editProfile"> My Profile <span class="sr-only"></span></a></li>
            <li class="active "><a class="glyphicon glyphicon-globe" href="/map"> My Location <span class="sr-only"></span></a></li>
            <li class="active "><a class="glyphicon glyphicon-asterisk" href="/subscription"> My Subscription <span class="sr-only"></span></a></li>
           <li class="active "><a class="glyphicon glyphicon-star-empty" href="/favourites"> My Favourites <span class="sr-only"></span></a></li>
           <li class="active "><a class="glyphicon glyphicon-thumbs-up" href="/likesMe"> Who Likes Me? <span class="sr-only"></span></a></li> 
           <li class="active "><a class="glyphicon glyphicon-sunglasses" href="/lookedAt"> Who I've Looked At <span class="sr-only"></span></a></li>
           <li class="active "><a class="glyphicon glyphicon-eye-open" href="/favourites"> Who's Looked At Me <span class="sr-only"></span></a></li>
           {{#if currentUser}}
           <li class="active "><a class="glyphicon glyphicon-log-out" href="/"> Log Me Out<span class="sr-only"></span></a></li>
           {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</template>


<!--
<div class="sidebar-nav btn-group-vertical pull-right toggle" role="group" aria-label="...">
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <a href="/search">Search</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="/messages">My messages</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> <a href="/results">Profiles</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="/editProfile">My Profile</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> <a href="/subscription">My Subscription</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> <a href="/favourites">My Favourites</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <a href="/likesMe">Who Likes Me?</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <a href="/lookedAt">Who I've Looked At</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> <a href="/lookedAtMe">Who's Looked At Me?</a>
</button>
{{#if currentUser}}
<button type="button" class="logout btn btn-default btn-lg">
  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <a href="/home">Log Me Out</a>
</button>
{{/if}}
-->