<template name="likes">
    {{>home}}
    <div class="container">
        <h3>My favourites/My Recommendations</h3>

        {{>nyi}}

        <p>
            Keep a list of people that you like, have used or would recommend to others.

            Schema:-

            /Profile Name/ServiceName/have used/when last used/comments (140) or less/ [Remove button][Add thumb]{Remove
            thumb] {stay anonymous]

            //{{#each Recommendation}}

            //{{/each}}

            Use this template within the Profile and editProfile pages.
        </p>
    </div>
</template>