<template name="map">
    {{>home}}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Update your location</div>
            <div class="panel-body">
                Use the map below to record your location. The system does not record your address but instead records
                your approximate location in order localise the area in which services are offered or sought. Click
                on the marker to drag it around the map. Click anywhere else on the map to move it around.<br>
                Use marker to position it at or near your location on the map. If you wish to keep your
                location private from other users, choose an area of the map nearby to your actual location that is
                shows as 'private'.
            </div>
            <div class="map-container">
                {{> googleMap name="map" options=mapOptions}}
            </div>
            <br>

            <div class="panel panel-danger">
                <div class="panel-heading">Your Location</div>
                <div class="panel-body">
                    Your location will be recorded as:- {{location}}
                </div>
            </div>
            <form action="../editProfile">
                <button class="btn btn-primary" type="submit">Return to editing your profile</button>
            </form>
        </div>
    </div>
</template>