<template name="messages">
	{{>home}}
	<h3 class="bluehead">My InBox</h3>
	{{#each to_me}}
	Message from: {{sender_name}} <br>	
	{{content}}<br>
	<div class="plain">
	Sent at: {{createdOn}}<br>
	</div>
	<form class="left_just">
		Reply to: 	<input type="text" name="recipient" value={{sent_from}}>
		<p>Message:    <textarea cols="50" rows="5" name="content" value={{content}}></textarea></p>

		<p><input type="submit" value="Reply" class="btn btn-default btn-lg"></p>

	</form>

	{{/each}}
	<h3 class="bluehead">My Sent Messages</h3>
	{{#each from_me}}
	Message to: {{sent_to}}<br>
	{{content}}<br>
	<div class="plain">
	Sent at: {{createdOn}}<br>
	</div>
	{{/each}}
	<br>
</template>