<template name="messages">
	{{>home}}
	<h3 class="bluehead panel-group" id="accordion" role="tablist" aria-multiselecatable="false">My In Box</h3>
	<div class="panel panel-default">
		{{#each toMe}}
		<div class="panel-heading" role="tab" id="heading{{_id}}">
			<h4 class="panel-title">
		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}" aria-expanded="true" aria-controls="collapse{{_id}}">	Message from: {{sentFromName}}</a>
			</h4>
		</div>
		<div id="collapse{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{_id}}" aria-expanded="false" >
		<div class="panel-body">
				{{content}}
			</div>
		</div>
	<button type="button" class=" btn-primary glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal"> Reply</button>
	<div class="plain">
		Sent at: {{createdOn}}<br>
	</div>
			<!-- Modal -->
<div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="">
    <div class="modal-content my_container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reply to {{sentFromName}}</h4>
      </div>
      <div class="modal-body">
      <form>
        <input type="hidden" name="senderName" value={{sentFromName}}>
		<input type="hidden" name="recipientId" value={{sentFromId}}>
		<input type="hidden" name="sentFromId" value={{sentToId}}>
		<p>Message:    <textarea cols="100" rows="5" name="myContent" value=""></textarea></p>
      </form>
      <button type="button" class="send btn btn-primary" data-dismiss="modal">Send</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
		{{/each}}
	</div>


	<h3 class="bluehead panel-group" id="accordion" role="tablist" aria-multiselecatable="false">My Sent Messages</h3>
	<div class="panel panel-default">
		{{#each fromMe}}
		<div class="panel-heading" role="tab" id="heading{{_id}}">
			<h4 class="panel-title">
		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}" aria-expanded="true" aria-controls="collapse{{_id}}">	Message to: {{sentToName}}</a>
			</h4>
		</div>
		<div id="collapse{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{_id}}" aria-expanded="false" >
			<div class="panel-body">
				{{content}}
			</div>
		</div>

	<div class="plain">
		Sent at: {{createdOn}}<br>
	</div>
		{{/each}}
	</div>
	

</template>