<template name="profiles">
    <title>Profile Summaries</title>

    {{>home}}
    <div class="container ">
        <div class="panel panel-success">
        <div class="panel-heading">
            Profile Summaries for local {{pService}}</div>

        <div class="panel-body">
            <div class="well">The nearest {{service}} to your location is shown first.<br></div>
            {{#each profiles}}
                <a href="/profile/{{_id}}">{{ProfileTitle}}</a><br>

                <div class="row">
                    <div class="col-md-2">
                        Gender: {{gender}}</div>
                    <div class="col-md-1"></div>
                    <div class=" col-md-1">
                        Age: {{age}}</div>
                    <div class="col-md-4">
                        Location: {{location}}</div>
                </div>
                <div class="plain">
                    Last logged in: {{lastLogIn}}<br>
                </div>
            {{/each}}
        </div>
    </div>
    </div>

</template>