<template name="register">
    <div class="container">
    <h2>Register</h2>
        Please register with a username - this can be anything you like - an email address and password. In future you will login using your email address.
    <form class="register">
    	<p>Username: <input  type="string" name="username"></p>
        <p>Email: <input type="email" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><input type="submit" value="Register"></p>
    </form>
    </div>
</template>