<template name="search">
    <title>Search</title>
    {{>home}}
    <div class="container">
        <div class="panel-primary">
        <div class="page-header">
            <h1>I-NEEDA
                <small>- find someone local</small>
            </h1>
        </div>
        <div class="panel panel-info">

            Use this page to search for someone nearby who can provide the service you are seeking.<br>
            Search results are sorted by distance with the closest person shown first.<br><br>


            I-NEEDA:
            <select name="service">
                {{>services}}
            </select>
            <br>
            <br>
            <p><input type="submit" value="search " class="search btn btn-primary btn-lg"></p>
        </div>
    </div>
    </div>
</template>