<template name="services">
	 Change to:<option value= "not set">--choose one--</option>
{{#each services }}
	{{#if selected ..}}
	<option value= {{serviceName}} selected >{{serviceName}}</option>
	{{else}}
	<option value= {{serviceName}} >{{serviceName}}</option>
	{{/if}}
{{/each}}
</template>

<template name="genders">
    Change to:<option value= "not set">--select--</option>
    {{#each gender }}
        {{#if selected ..}}
            <option value= {{genderName}} selected >{{genderName}}</option>
        {{else}}
            <option value= {{genderName}} >{{genderName}}</option>
        {{/if}}
    {{/each}}
</template>